{
  "accessToken": "",
  "mountPoint": "",
  "cacheLocation": "",
  "chunkSize": 33554432,
  "advancedChunks": 4,
  "maxCache": 2048,

  "clientId": "",
  "secret": "",
  "redirectUrl": "localhost:7331"

}
