{
  "clientId": "",
  "secret": "",
  "redirectUrl": "can be left blank",
  "accessToken": "",
  "mountPoint": "",
  "chunkSize": 33554432,
  "cacheLocation": "",
  "maxCache": 2048,
  "advancedChunks": 4
}
